<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Group 5 | OOP Final Project</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="content-section-1">
          <h2>Add your To do</h2>

          <form method="POST" action="/" class="form" name="form">
            <div class="input-div">
              <label for="title">Enter your To Do Title</label>
              <input
                type="text"
                name="title"
                id="title"
                class="input-text"
                placeholder="Enter a title"
              />
            </div>

            <div class="input-div-1">
              <label for="description">Describe your To Do here</label>
              <input
                type="text"
                name="description"
                id="description"
                class="input-text-1"
                placeholder="Enter a description"
              />
            </div>

            <button class="add-btn" type="submit">Add</button>
          </form>
        </div>
      </div>

      <div class="container section-2">
        <div class="container-section-2">
          <h2>Your Todos</h2>

          <div class="table">
            <div class="todos-container">
              {% for todo in todos%}
              <div class="todo-item">
                <p class="todo-title"><strong>{{todo.title}}</strong></p>
                <p class="todo-desc"><i>Description:</i> {{todo.desc}}</p>
                <a href="/delete/{{todo._id}}" class="delete-btn">Remove</a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
